{{ "<!-- Header -->" | safeHTML }}
    <section id="one" class="tiles">
        {{ range .Site.Params.Tiles.showcase }}
        <article>
            <span class="image">
              <picture>
                <source type="image/webp" srcset="{{ .Site.Params.baseURL }}img/{{ .imagew }}">
                <source type="image/jpeg" srcset="{{ .Site.Params.baseURL }}img/{{ .image }}">
                <img src="{{ .Site.Params.baseURL }}img/{{ .imagew }}" alt="{{ .title}}" />
              </picture>
            </span>
            <header class="major">
                <h3><a href="{{ .url | absURL }}" class="link" target="_blank">{{ .title }}</a></h3>
                <p>{{ .subtitle }}</p>
            </header>
        </article>
        {{ end }}
    </section>
